@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {

             --Violet: hsl(257, 40%, 49%);
             --SoftMagenta: hsl(300, 69%, 71%);

}


body {
             font-family: 'Open Sans', sans-serif;
             background-image: url(images/bg-desktop.svg);
             background-size: cover;
             object-fit: cover;
             background-repeat: no-repeat;
             background-color: var(--Violet);

             height: 100vh;
}




@media screen and (max-width: 700px) {
             body {
                          background-image: url(images/bg-mobile.svg);

             }
}


nav {
             margin-top: 100px;
             padding-left: 90px;
             margin-bottom: 0;
}

.section {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             margin-top: 5%;
             padding: 20px;
             justify-content: space-between;

}

.contenimg__logo {
             width: 250px;

}

.contenimg__img {
             width: 600px;

}

.textos {

             width: 50%;
             color: white;

}

.textos p {
             width: 500px;
             line-height: 30px;
}

button {
             padding: 10px;
             width: 250px;
             border-radius: 30px;
             border: none;
}

@media screen and (max-width:700px) {
             .contenimg__img {
                          width: 100%;
             }

             .section {
                          justify-content: left;
             }
}